<div class="ui container">
  <div class="text-center">
    <div class="ui centered grid" style="margin-top: 2em;" *ngIf="currentBoard">
      <ng-container *ngFor="let a of currentBoard; let rowIdx = index">
        <div class="row" style="padding-bottom: 0; padding-top: 0; margin-bottom: -.4em">
          <app-cell-component *ngFor="let b of currentBoard[rowIdx]; let colIdx = index"
                      [row]="currentBoard.length - rowIdx - 1"
                      [column]="colIdx"
                      [currentBoard]="currentBoard"
                      class="column"
                      (playerMove)="dispatchPlayerMove($event)" >
          </app-cell-component> 
        </div>
      </ng-container>
    </div>
    <!-- The async flag doesnt work for some reason... <div *ngIf="gameStatusObs$ | async"> -->
     <div *ngIf="gameOver" class="ui container" style="margin-top: 2em"> 
      <h2>GAME OVER! Winner is {{currentWinner}}</h2>
    </div>
    <button class="ui blue button" style="margin-top: 2em" (click)="resetGame()"> Reset Game</button>
  </div>
</div>
